@media print {
	html {
		-webkit-print-color-adjust: exact;
	}
}

html {
	background: #e5e5e5;
	font-size: 0.75em;
}

@page {
	margin: 0in;
}

.page {
	background: white;
	width: 8.27in;
	height: 11.69in;
	display: block;
	margin: 0.1in auto;
	padding: 0.2in;
	/* padding: 1in; */
	/* margin-bottom: 0.5cm; */
	box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
	page-break-after:always;
}

@media print {
	.page {
		box-shadow: none;
	}
}

/* .horizontal { */
/* 	margin: 0px; */
/* 	display: flex; */
/* 	flex-flow: row nowrap; */
/* 	justify-content: space-around; */
/* 	align-items: stretch; */
/* } */
/*  */
/* .horizontal>div { */
/* 	flex-grow:0; */
/* 	width: 50%; */
/* 	margin: 0; */
/* } */

#title {
	margin:0px;
	padding-left: 3px;
}

h2 {
	/* margin-left: auto; */
	margin-right: auto;
	/* text-align: center; */
	width: 50%;
	border-bottom: 2px solid black;
}

tr {
	vertical-align: middle;
}

.generic_table {
	background: white;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

.generic_table td, .generic_table th {
	border: 1px solid grey;
	padding: 3px;
}

.generic_table th {
	background: #dddddd;
}

#education_tables {
	/* padding-left: 10%; */
	/* padding-right: 10%; */
}

#education_tables>div{
	text-align:center;
}

#techskills>div{
	/* padding-left: 2%; */
	/* padding-right: 1in; */
	/* border:1px solid black; */
}

#techskills>div>ul {
	padding-left: 0.11in;
}

#techskills ul {
	padding-left: 0px;
}

#techskills li {
	padding-top: 0.05in;
}

#techskills h3 {
	/* border-bottom: 1px solid black */
}

#experiencetable {
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
}

.expcol1 {
	width: 85%;
}

.expcol2 {
	text-align: center;
}

.wholespan {
	align-self: center;
	margin-left: auto;
	width:100%;
	text-align: left;
	margin-bottom: 0.1in;
}

#references-header {
	width: 100%;
}

#references {
	width:100%;
	margin-left:auto;
	margin-right:auto;
	display: flex;
}

#references>div {
	flex-grow: 1;
	text-align: center;
}

#references>div>h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}

#references>div>p {
	margin-top: 0px;
}

#references td {
	border: none;
}

#references>tbody>tr>td {
	width:33%;
	text-align: center;
}
